// tạo các biến
$font: "Inter", sans-serif;
$text-color: #f58220; // mầu chữ chủ đạo
$text-colorRank: #7e7e84;
$primary-color: #f53838; // mầu chủ đạo
$bgc-body: #ffffff;
$body-column-title: #043b72; // biến màu tiêu đề sản phẩm nổi bật
$bgc-service: #fee0be; // biến mầu sản phầm nổi bật
$news-title: #282832; // biến tin tức tiêu đề
$txt-bank: #a0a3bd; // biến mầu chữ ngân hàng
$border: #d7d9e2;
