@import "../../variables";
@import "../../mixins/mixins";
.footer {
  font-family: $font;
  padding-top: 80px;
  background: #f5f5f5;

  &-aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include deptop820 {
    font-family: $font;
    padding-top: 0px;
    background: #f5f5f5;
  }
}

.aboutMe_column1 {
  width: 270px;
  margin-right: 30px;
}
.aboutMe_column2 {
  width: 200px;
  margin-right: 30px;
}
.aboutMe_column3 {
  width: 250px;
  margin-right: 30px;
}
.footer-aboutMe {
  @include deptop820 {
    display: none;
  }
}
.footer-aboutMe_txt {
  display: flex;
  margin-bottom: 55px;
}
.aboutMe_column-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  margin-bottom: 38px;
}
.aboutMe_column-adder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $text-colorRank;
  margin-bottom: 16px;
}
.aboutMe_column-number {
  margin-bottom: 16px;
  cursor: pointer;
}
.aboutMe_column-gmail {
  margin-bottom: 16px;
  cursor: pointer;
}
.aboutMe_column-phone {
  margin-bottom: 16px;
  cursor: pointer;
}

.aboutMe_column-inter {
  display: flex;
  align-items: center;
  a {
    margin-right: 16px;
  }
}
#fb {
  padding: 8.05px 8.05px 8.14px 8.05px;
  border-radius: 50%;
  background-color: #ffffff;
}
#zalo {
  padding: 8px 8px 8.59px 8px;
  border-radius: 50%;
  background-color: #ffffff;
}
#yb {
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

.footer-client {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
  @include deptop820 {
    display: none;
  }
  &_txt {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $text-color;
    padding: 0 75px;
  }
  &_shop {
    display: flex;
    align-items: center;
    padding: 0 75px;
  }
}
.client_shop-AppStor {
  margin-left: 16px;
}

.footer-last {
  padding: 16px;
  border-top: 1px solid #d7d9e2;
  display: flex;
  justify-content: center;
  align-items: center;
  @include deptop820 {
    padding: 15px;
    border-top: 1px solid #d7d9e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_rules {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.txt-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $text-colorRank;
  padding: 0 16px;
  @include deptop820 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7e7e84;
    padding: 0 16px;
  }
  &:hover {
    color: #999;
  }
}
.rules-border {
  padding: 16px 0;
  border-left: 1px solid #d7d9e2;
}
.rules-title {
  display: flex;
  align-items: center;
}
.footer-last_year {
  margin-right: 170px;
  font-size: 14px;
  @include deptop820 {
    margin-right: 0px;
  }
}
.footer-last_rules {
  margin-left: 150px;
  @include deptop820 {
    margin-left: 0px;
  }
}
